# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Compiled Go binary
dog-stream-gateway

# CGO compilation artifacts
*.o
*.a
cgo-flags.env

# Environment variables
.env

# Runtime output
saved_maps/

# OS specific files
.DS_Store
Thumbs.db

# frontend
slam-dashboard-frontend/node_modules
slam-dashboard-frontend/dist
